[client]
port					= {{client_port}}
socket					= {{client_mariadb_socket}}
user					= {{root_login}}
password				= {{root_pass}}

[mysqld_safe]
socket					= {{safe_mariadb_socket}}
nice					= {{safe_nice}}
log-error				= {{mariadb_log_error}}
pid-file 				= {{mariadb_pid_file}}

[mysqld]
user					= {{user}}
socket					= {{mariadb_socket}}
port					= {{port}}
basedir					= /usr
datadir					= /var/lib/mysql
tmpdir					= /tmp
lc-messages-dir			= {{lc_messages_dir}}
{{locking}}

bind-address			= {{bind_address}}

key_buffer				= {{key_buffer}}
max_allowed_packet		= {{max_allowed_packet}}
thread_stack			= {{thread_stack}}
thread_cache_size       = {{thread_cache_size}}

myisam-recover       	= {{myisam_recover}}
max_connections      	= {{max_connections}}
table_cache             = {{table_cache}}
thread_concurrency      = {{thread_concurrency}}

query_cache_limit		= {{query_cache_limit}}
query_cache_size        = {{query_cache_size}}

#server-id				= 1
#log_bin				= /var/log/mysql/mysql-bin.log
expire_logs_days		= {{expire_logs_days}}
max_binlog_size         = {{max_binlog_size}}

# chroot = /var/lib/mysql/

# ssl-ca 				= /etc/mysql/cacert.pem
# ssl-cert 				= /etc/mysql/server-cert.pem
# ssl-key 				= /etc/mysql/server-key.pem

[mysqldump]
{{quick}}
{{quote_names}}
max_allowed_packet		= {{max_allowed_packet}}


[isamchk]
key_buffer				= {{isamchk_key_buffer}}

!includedir /etc/my.cnf.d

