[client]
port					= {{client_port}}
socket					= {{client_socket}}
user					= {{root_login}}
password				= {{root_pass}}

[mysqld_safe]
socket					= {{safe_socket}}
nice					= {{safe_nice}}

[mysqld]
user					= {{user}}
pid-file				= {{pid_file}}
socket					= {{socket}}
port					= {{port}}
basedir					= /usr
datadir					= /var/lib/mysql
tmpdir					= /tmp
lc-messages-dir			= {{lc_messages_dir}}
{{locking}}

bind-address			= {{bind_address}}

key_buffer				= {{key_buffer}}
max_allowed_packet		= {{max_allowed_packet}}
thread_stack			= {{thread_stack}}
thread_cache_size       = {{thread_cache_size}}

myisam-recover         	= {{myisam_recover}}
max_connections        	= {{max_connections}}
table_cache            	= {{table_cache}}
thread_concurrency     	= {{thread_concurrency}}

query_cache_limit		= {{query_cache_limit}}
query_cache_size    	= {{query_cache_size}}

log_error 				= {{log_error}}
log_slow_queries		= {{log_slow_queries}}
#long_query_time 		= 2
#log-queries-not-using-indexes


expire_logs_days		= {{expire_logs_days}}
max_binlog_size     	= {{max_binlog_size}}

# chroot 				= /var/lib/mysql/

# ssl-ca 				= /etc/mysql/cacert.pem
# ssl-cert 				= /etc/mysql/server-cert.pem
# ssl-key 				= /etc/mysql/server-key.pem

[mysqldump]
{{quick}}
{{quote_names}}
max_allowed_packet		= {{dump_max_allowed_packet}}

[isamchk]
key_buffer				= {{isamchk_key_buffer}}

!includedir /etc/mysql/conf.d/

